<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Filters</h1>
        <button class="button button-clear button-primary" ng-click="filterModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list ng-repeat="filter in availableFilters">
            <ion-item class="item-icon-right" ng-click="ctrl.addFilter(filter.name)">
                {{ filter.name }}
                <i class="icon ion-ios-plus-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
