<ion-view cache-view="false">
  <ion-nav-title> {{ 'Filter ' + filter.name }}</ion-nav-title>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-divider">
        Preferences
      </ion-item>
      <div ng-switch="filter.type">
        <ion-list ng-switch-when="string" ng-repeat="choice in originalFilter.enum">
          <ion-radio ng-model="ctrl.filter.value" ng-value="'{{choice}}'">{{choice}}</ion-radio>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
